<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing mock</h1>

  <%= render "form", mock: @mock %>

  <%= link_to "Show this mock", @mock, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to mocks", mocks_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
